<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo1.mapper.ProjectMapper">
    <insert id="insert_project">
        insert into Projects (tenant_id, name, received_date, evaluation_start_date,
        evaluation_end_date, project_overview, team_location, valuer, reviewer, tech_reviewer,
        approver, state, type, version, quantity, evaluation_amount, remarks)

        values (#{tenant_id}, #{name}, #{received_date}, #{evaluation_start_date},
        #{evaluation_end_date}, #{project_overview}, #{team_location}, #{valuer}, #{reviewer},
        #{tech_reviewer}, #{approver}, #{state}, #{type}, #{version}, #{quantity},
        #{evaluation_amount}, #{remarks})
    </insert>

    <update id="update_project">
        update Projects
        <set>
            <if test="tenant_id != null">
                tenant_id = #{tenant_id},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="received_date != null">
                received_date = #{received_date},
            </if>
            <if test="evaluation_start_date != null">
                evaluation_start_date = #{evaluation_start_date},
            </if>
            <if test="evaluation_end_date != null">
                evaluation_end_date = #{evaluation_end_date},
            </if>
            <if test="project_overview != null and project_overview != ''">
                project_overview = #{project_overview},
            </if>
            <if test="team_location != null and team_location != ''">
                team_location = #{team_location},
            </if>
            <if test="valuer != null and valuer != ''">
                valuer = #{valuer},
            </if>
            <if test="reviewer != null and reviewer != ''">
                reviewer = #{reviewer},
            </if>
            <if test="tech_reviewer != null and tech_reviewer != ''">
                tech_reviewer = #{tech_reviewer},
            </if>
            <if test="approver != null and approver != ''">
                approver = #{approver},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>
            <if test="evaluation_amount != null">
                evaluation_amount = #{evaluation_amount},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete_project_by_id">
        delete from Projects where id = #{id}
    </delete>

    <delete id="delete_project_by_ids">
        delete from Projects where id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="select_all_projects" resultType="com.example.demo1.pojo.Project">
        select * from Projects;
    </select>

    <select id="select_project_by_id" resultType="com.example.demo1.pojo.Project">
        select * from Projects where id = #{id}
    </select>

    <select id="select_project_by_name" resultType="com.example.demo1.pojo.Project">
        select * from Projects where name = #{name}
    </select>

    <select id="select_projects_by_tenant_id" resultType="com.example.demo1.pojo.Project">
        select * from Projects where tenant_id = #{tenant_id}
    </select>



<!--    注意下面的是别的组的 project    -->
    <select id="select_create_time_by_id" resultType="java.time.LocalDate">
        select create_time from project
        where id = #{id}
    </select>
    <select id="select_create_time_by_ids" resultType="java.time.LocalDate">
        select create_time from project
        where id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>