<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo1.mapper.TenantMapper">
    <insert id="insert_tenant">
        insert into Tenants (name, contact_name, password, phone, communication_address, postal_code, email, role)
        values (#{name}, #{contact_name}, #{password}, #{phone}, #{communication_address}, #{postal_code}, #{email}, #{role})
    </insert>

    <delete id="delete_tenant_by_id">
        delete from Tenants where id = #{id}
    </delete>

    <delete id="delete_tenants_by_ids">
        delete from Tenants where id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update_tenant">
        update Tenants
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="contact_name != null and contact_name != ''">
                contact_name = #{contact_name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="communication_address != null and communication_address != ''">
                communication_address = #{communication_address},
            </if>
            <if test="postal_code != null and postal_code != ''">
                postal_code = #{postal_code},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="select_all_tenants" resultType="com.example.demo1.pojo.Tenant">
        select * from Tenants;
    </select>

    <select id="select_tenant_by_id" resultType="com.example.demo1.pojo.Tenant">
        select * from Tenants where id = #{id};
    </select>

    <select id="select_tenant_by_name" resultType="com.example.demo1.pojo.Tenant">
        select * from Tenants where name = #{name}
    </select>

    <select id="select_tenant_by_name_and_password" resultType="com.example.demo1.pojo.Tenant">
        select * from Tenants where name = #{name} and password = #{password}
    </select>
</mapper>