<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo1.mapper.UserMapper">
    <insert id="insert_user">
        insert into Users (Name, Password, Role, TenantName)
        values (#{Name}, #{Password}, #{Role}, #{TenantName})
    </insert>


    <delete id="delete_user_by_ID">
        delete from Users where ID = #{ID}
    </delete>

    <delete id="delete_user_by_IDS">
        delete from Users where ID in
        <foreach collection="array" item="ID" separator="," open="(" close=")">
            #{ID}
        </foreach>
    </delete>

    <update id="update_user">
        update Users
        <set>
            <if test="Name != null and Name != ''">
                Name = #{Name},
            </if>
            <if test="Password != null and Password != ''">
                Password = #{Password},
            </if>
            <if test="Role != null">
                Role = #{Role},
            </if>
            <if test="TenantName != null and TenantName != ''">
                TenantName = #{TenantName},
            </if>
        </set>
        where ID = #{ID}
    </update>

    <select id="select_all_users" resultType="com.example.demo1.pojo.User">
        select * from Users;
    </select>

    <select id="select_user_by_ID" resultType="com.example.demo1.pojo.User">
        select *
        from Users where ID = #{ID}
    </select>

    <select id="select_user_by_Name" resultType="com.example.demo1.pojo.User">
        select *
        from Users where Name = #{Name}
    </select>

    <select id="select_user_by_Name_and_Password" resultType="com.example.demo1.pojo.User">
        select *
        from Users where Name = #{Name} and Password = #{Password}
    </select>

    <select id="select_users_by_project_id" resultType="com.example.demo1.pojo.User">
        select u.*
        from ProjectUsers pu
        join Users u ON pu.UserID = u.ID
        where pu.ProjectID = #{project_id}
    </select>
</mapper>